
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="author" http-equiv="Content-Security-Policy" content="frame-ancestors"/>
       <title></title>
    <!--<script src="../js/jquery-3.1.1.min.js"></script>-->
</head>
<body>
<div class="iphone" >
    <div class='content'>
        <iframe width="100px" height="100px" sandbox="allow-scripts"  src="https://oauth.yzl.longqueyun.com/connect/oauth2/authorize?response_type=code&appid=d59d1841-ee4c-4e24-ad98-08e9630268c8&redirect_uri=https%3A%2F%2Fconn.yzl.longqueyun.com%2Fapi%2Fv2%2Flogin%2Fredirect&scope=snsapi_userinfo"></iframe>
    </div>
    <img src="phone.png">
</div>
<script>

</script>
<style>
    .iphone{
        width: 304.4px;
        height: 612.2px;
        position: relative;
    }
    .content{
        width: 244px;
        height: 537px;
        padding: 42px 30px 30px 30px;
        position: relative;
        overflow: hidden;
    }
    .iphone img{
        top: 0px;
        left: 0px;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
</style>
</body>
</html>



