<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="bd">
     设计和开发控制程序范文
     公司所开发工程的设计均委托具备相应资质的设计单位来完成，
     根据国家法
     规规定，
     开发建设单位不能免除设计责任，
     因此，
     公司将按以下规定对工程设计
     进行控制：
     a)
     按照
     7.4
     章节的规定进行工程的设计招标，确保选择合格的设计单位；
     b)
     工程部设有专门人员进行专项管理，参加设计单位各阶段的评审活动，
     包括设计输入、
     设计输出、
     最终设计结果的评审，
     以及设计验证和设计确认等活
     动。
     c)
     通过采取抽查、设计参与、例会等监督检查形式，确保设计单位按照本
     标准条款要求实施设计活动。
     d)
     对设计过程中的各阶段活动，一般由工程部技术专责人负责组织各项目
     部实施，重要活动或关键活动，由工程部组织进行。
     .1
     设计和开发策划
     .1.1
     规划设计单位在设计和开发过程中应确定：
     设计和开发阶段；
     适合每个阶段的评审、验证和确认活动；
     c)
     设计和开发的职责、权限。
     .1.2
     策划的输出应形成设计开发计划，随着设计开发的进展、情况的变化以及
     可能发生要求的变更，
     设计开发计划在适宜时修改或更新。
     设计开发计划要由公
     司分管项目部进行审核确认。
     .2
     设计和开发输入
     .2.1&nbsp;
     工程部组织项目部负责在设计招标中，制定项目的设计任务书，设计任务
     书在发放投标单位前，应按规定进行审核批准。
     .2.2
     项目部专责人参与设计单位的设计输入评审。

     .3
    设计和开发输出
    设计单位应根据设计输入要求完成设计阶段任务，
    包括初步设计、
    扩初设计
    和施工图设计，
    项目部应安排专责人参与设计单位组织的设计输出评审，
    设计输

    出文件（包括设计图纸、说明书、专题报告及设备材料明细表等）在放行前应得

    到批准。
    对设计图纸的管理执行Q/TZH-WI-010《图纸管理规定》。.4设计和开发评审
    项目部专责人参加设计单位组织的设计方案及有关技术、经济论证的设计评审会议， 以评价设计开发各阶段成果满足要求的能力，并通过评审识别问题，采取改进措施。 17.5设计和开发验证
    为确保设计开发的输出满足输入的要求，项目部应根据设计单位的计划安排，派专责人参加并听取设计单位后期设计阶段验证意见结论的汇报。.6设计和开发确认
    公司通过以下措施和方法进行设计和开发的确认：a)项目部专责人参加设计单位的设计确认活动；
    b)检查落实设计图纸是否通过政府主管部门的审批并签章；
    c)由项目部组织设计、 监理、施工等单位进行图纸会审，执行Q/TZH-WI-023《图纸会审制度》；
    d)以阶段性的验收，如：验槽、基础验收、主体结构验收和竣工验收等，作为对设计和开发的确认；
    e)施工期间，请顾客进行监督，由项目部部负责听取并收集顾客意见。: 当确认结果表明设计开发的产品不能或不能完全满足预期使用要求时，应采取有效的跟踪措施（包括变更设计）以满足要求，确认结果跟踪措施。.7l设计和开发更改的控制
    .7.1在以下情形下，要对设计进行更改：
    a)随着设计开发的进展、情况的变化，可能发生要求的变更，应更改策划输出。
    b)在设计开发的各项评审、验证、确认等过程中，对发现的问题涉及的更改采取跟踪措施。
    .7.2设计更改要形成记录，并由责任部门保存和管理。
    .设计变更要充分考虑变更对以前完成部分和其它部分以及结构安全和使用功能的影响，适当时，对设计更改进行评审、验证和确认，予以充分分析和论证，在确定合理可行的基础上，批准后实施。
    设计和开发更改的具体实施办法见《设计变更实施办法》
</div>
</body>
</html>
